body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: orange;
}

.footer {
  display: inline-flex;
  gap: 20px;
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 30px; 
}


.btn {
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#red {
    background-color: red;
}

#purple {
    background-color: purple;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#default {
    background-color: orange;
}